/* -------------------------------------------------------------------------Fonts */
.text-uppercase {
    text-align: center;
	font-family: Big Shoulders Stencil Text;
}

.general-sub {
	font-family: Big Shoulders Stencil Text;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
}

body {
    font-family: 'Poppins', sans-serif;
	letter-spacing: .03rem;
}

/* ------------------------------------------------------------------------Navbar */

.fa-space-shuttle {
	color: #fafafa;
    background: #01161e;
	margin-right: 10px;
}

.navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background: #01161e;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
	margin-right: 5px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.question {
	color: #828a95
}



/* ------------------------------------------------------------------------Buttons*/

.btn--cta {
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;
    width: 135px;
}

.btn--red {
    color: #01161e;
    background-color: #ecfff8;
    border-color: #ecfff8;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #a7260b;
    border-color: #a7260b;
    color: #ecfff8;
}

/* -------------------------------------------------------------------Colours used*/

/* --------Rufous Red = #A72608 -- */
/* -----Xiketic Brown = #18020C -- */
/* ------Roman Silver = #828A95 -- */
/* --------Mint Cream = #ECFFF8 -- */
/* --Rich Black FOGRA = #01161E -- */
/* ---------Off White = #FAFAFA -- */

/* -----------------------------------------------------------------Image Styling */

.callout-container {
    height: 100vh;
    background: url(../images/mars1.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* -----------------------------------------------------------------------Heading */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #ecfff8;
	font-family: Big Shoulders Stencil Text;
    font-weight: bold;
	font-size: 60px;
	letter-spacing: 8px;
    margin-bottom: 50px;
	margin-top: 50px;
}

.red-text {
    color: #a7260b;
	background-color: rgba(0,0,0,0.2);
	padding-left: 8px;
	border-radius: 5px;
}

.countdown_text {
    text-align: center;
    font-family: Big Shoulders Stencil Text;
    font-size: 40px;
    color: #ecfff8;
}

/* -------------------------------------------------------------Countdown Timer */

#countdown_timer {
	position: relative;
	text-align: center;
	font-family: JetBrains Mono;
	border-radius: 5px;
	font-size: 30px;
	color: #ecfff8;
	background-color: rgba(0, 0, 0, 0.25);
	margin-top: 40px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


/* ---------------------------------------------------------------------Fade-In */

.fade-in-2sec {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}

.fade-in-4sec {
animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/* ---------------------------------------------------------------------Hover.css */


/* ------------------------------------------------------------------------Footer */
#footer-details {
    padding: 20px;
}

footer {
    background-color: #fafafa;
	font-size: 14px;
    color: black;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 15%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #535353;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

.list-inline-item:not(:last-child) {
		margin-right: .65rem;
}

.fa-facebook:hover {
    background: #4267B2;
}

.fa-instagram:hover {
    background: #8a3ab9;
}

.fa-twitter:hover {
    background: #1DA1F2;
}

.fa-youtube:hover {
    background: #FF0000;
}

.fa-linkedin:hover {
    background: #0072b1;
}

.fa-pinterest:hover {
    background: #E60023;
}

/* -----------------------------------------------------Download Application Form */

.application-pdf i {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.application-pdf i:hover {
    color: #dc143c;
}

/* ------------------------------------------------------------Media Query 1420px */
@media(max-width: 1280px) {
    .list-inline-item:not(:last-child) {
		margin-bottom: .5rem;
    }
    .question {
		display: none;
	}
}


/* -------------------------------------------------------------Media Query 992px */

@media(min-width: 992px) {
    #countdown_timer {
		position: absolute;
		text-align: center;
		font-family: JetBrains Mono;
		border-radius: 5px;
		font-size: 40px;
		color: #ecfff8;
		background-color: rgba(0, 0, 0, 0.25);
		margin-top: 40px;
		margin-left: 90px;
		padding-left: 15px;
		padding-right: 15px;
	}   
}

@media(max-width: 992px) {
    .line-divider {
		display: none;
    }
    .question {
		display: none;
	}
}

/* -------------------------------------------------------------Media Query 500px */

@media(max-width: 500px) {
    .jumbotron {
		margin-top: 110px;
		margin-bottom: 110px;
	}
	.jumbotron-header {
		font-size: 50px;
		margin-bottom: 20px;
	}
	#countdown_timer {
		margin-top: 0px;
	}
	.list-inline-item:not(:last-child) {
		margin-right: .3rem;
    }
    .countdown_text {  
		font-size: 30px;
	}	
}

/* ---------------------------------------------------------Media Query 420px (height) */

@media(max-height: 420px) {
    .jumbotron {
		margin-top: 110px;
		margin-bottom: 110px;
	}
	.jumbotron-header {
		font-size: 45px;
		margin-bottom: 20px;
	}
	#countdown_timer {
		margin-top: 0px;
	}
	.list-inline-item:not(:last-child) {
			margin-right: .3rem;
	}	
}